<p>Hi {},</p>
<br/>
<p>This email reached you because there was a request that you lost your password. Please follow this link <a href="{}">Reset password</a> to reset your password</p>
<p>In case you did not request this password reset operation please contact web page admins to inform about this possible security issue</p>
